<mvcommons-painel-administrador i18n-titulo titulo="Listagem {{ .Name }}"
  [includeFooter]="true" [includeFechar]="true">
  <ng-template pTemplate="body">
    <form class="filtro-pesquisa ui-g-12 no-padding" [formGroup]="formFilter">
    {{range $i, $field := .FieldsArray }}
      <div class="ui-g-3">
        <label class="required" i18n>{{label $field}}</label>
        <input type="text" maxlength="100" uppercase pInputText formControlName="{{$field}}" />
      </div>
    {{end}} 
      <div class="ui-g-3 filtro-pesquisa-btn-actions">
        <button pButton icon="fa fa-search" debounceClick (debounceClick)="listar()" title="Pesquisar" tooltipPosition="bottom"></button>
        <button pButton icon="fa fa-eraser" (click)="limparBusca()" title="Limpar" tooltipPosition="bottom"></button>
      </div>
    </form>
    <div #lista class="lista-elementos-100 ui-g-12">

      <p-table
          tableEmptyRows
          [value]="list{{ .NameCamelCase }}s"
          [scrollable]="true"
          selectionMode="single"
          [responsive]="true"
          (onRowSelect)="onEventoSelecao($event.data)"
          (onRowUnselect)="onEventoDesselecao()"
          [resizableColumns]="true">

      <ng-template pTemplate="colgroup">
          <colgroup>
            {{range $i, $field := .FieldsArray }}<col>
            {{end}}
          </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
          <tr>
            {{range $i, $field := .FieldsArray }}<th pResizableColumn i18n>{{label $field}}</th>
            {{end}}
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dto>
          <tr [pSelectableRow]="dto" (dblclick)="editar(dto)">
            {{range $i, $field := .FieldsArray }}
            <td class="ui-resizable-column">{{"{{"}} dto.{{$field}} {{"}}"}}</td>
            {{end}}
          </tr>
      </ng-template>
  </p-table>

</div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton icon="fa fa-file" (click)="novo()" i18n-title title="Novo" ></button>
    <button pButton icon="fa fa-edit" (click)="editar(dto)" i18n-title title="Editar" [disabled]="!dtoSelecionado" ></button>
    <button pButton icon="fa fa-trash"  (click)="excluir()" i18n-title title="Excluir" [disabled]="!dtoSelecionado"></button>
  </ng-template>
</mvcommons-painel-administrador>

<p-dialog *ngIf="display" i18n-header header=" {{`{{dtoSelecionado?.id ? 'Edição' : 'Inclusão'  }}`}} {{ .Name }}"    
    (onHide)="limparCamposNovo()" 
    [(visible)]="display" 
    modal="modal"
    width="500" 
    [responsive]="true">

    <{{ .Name }}-form
        [dto]="dtoSelecionado"
        (eventOnSave)="onSave($event)">
    </{{ .Name }}-form>
</p-dialog>
